.pattaya {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.livvic {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blanco {
  color: white;
}

.morado {
  color:rgb(28, 6, 41);
}

.titulo {

}

.boton-menu {
  background-color: rgb(226, 43, 195);
}

.cuadro-proyecto {

}

#presentacion {
  background-color: blueviolet;
}