@font-face {
  font-family: Pattaya;
  src: url(./fonts/Pattaya-Regular.ttf);
}

@font-face {
  font-family: Livvic;
  src: url(./fonts/Livvic-Black.ttf);
}

@font-face {
  font-family: Miriam;
  src: url(./fonts/MiriamLibre-Regular.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.pattaya {
  font-family: Pattaya, sans-serif;
}

.livvic {
  font-family: Livvic, sans-serif;
}

.miriam {
  font-family: Miriam, sans-serif;
}

.blanco {
  color: white;
}

.morado {
  color: #1B0024;
}

#inicio {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(./images/fondo1.jpg);
}

#presentacion {
  height: 40vh;
  background: #6D53A5;
  background: linear-gradient(90deg, rgba(109,83,165,1) 0%, rgba(109,83,165,0) 100%);
  display: flex;
  flex: 100%;
  align-items: center;
}

#botones {
  margin: 2%;
}

#nombre {
  margin: 2%;
  font-size: 2vw;
}

#titulo {
  margin: 2%;
  font-size: 4vw;
}

.boton-menu {
  background-color: #C52283;
}

.cuadro-proyecto {

}
